In [1]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine('mysql://root:root@localhost:3306/f1db')

connection = engine.connect()

## JOINing Tables with MySQL Queries

In [2]:
# Get the 2013 British Grand Prix race row
pd.read_sql('SELECT * FROM races WHERE year=2013 AND name="British Grand Prix"', con=connection)

,raceId,year,round,circuitId,name,date,time,url
0,887,2013,8,9,British Grand Prix,2013-06-30,12:00:00,http://en.wikipedia.org/wiki/2013_British_Gran...

In [3]:
# Get the driver standings from that particular race
pd.read_sql('SELECT * FROM driverStandings where raceId=887', con=connection)

    driverStandingsId  raceId  driverId  points  position positionText  wins
0               65734     887       807     6.0        15           15     0
1               65733     887       813     0.0        16           16     0
2               65731     887       817    11.0        14           14     0
3               65730     887       823     0.0        22           22     0
4               65728     887       819     0.0        20           20     0
5               65727     887       824     0.0        19           19     0
6               65725     887       821     0.0        18           18     0
7               65724     887       818    13.0        12           12     0
8               65719     887        16    23.0        11           11     0
9               65718     887        17    87.0         5            5     0
10              65715     887        20   132.0         1            1     3
11              65716     887        13    57.0         7            7     0
12              65717     887         1    89.0         4            4     0
13              65732     887         3    82.0         6            6     2
14              65729     887       820     0.0        21           21     0
15              65726     887       822     0.0        17           17     0
16              65720     887       814    36.0         8            8     0
17              65713     887         8    98.0         3            3     1
18              65714     887         4   111.0         2            2     2
19              65723     887       815    12.0        13           13     0
20              65722     887       154    26.0         9            9     0
21              65721     887        18    25.0        10           10     0

In [4]:
# A single query of the 2013 British Grand Prix standings, with select columns
pd.read_sql(
    '''
    SELECT ds.driverId, ds.points, ds.position
    FROM driverStandings ds
    INNER JOIN races r
    WHERE ds.raceId=r.raceId AND r.year=2013 AND r.name="British Grand Prix"
    ''',
    con=connection)

    driverId  points  position
0        807     6.0        15
1        813     0.0        16
2        817    11.0        14
3        823     0.0        22
4        819     0.0        20
5        824     0.0        19
6        821     0.0        18
7        818    13.0        12
8         16    23.0        11
9         17    87.0         5
10        20   132.0         1
11        13    57.0         7
12         1    89.0         4
13         3    82.0         6
14       820     0.0        21
15       822     0.0        17
16       814    36.0         8
17         8    98.0         3
18         4   111.0         2
19       815    12.0        13
20       154    26.0         9
21        18    25.0        10

In [5]:
# Add driver surname and their three letter code
pd.read_sql(
    '''
    SELECT d.surname, d.code, ds.points, ds.position
    FROM driverStandings ds
    INNER JOIN races r
    INNER JOIN drivers d
    WHERE ds.raceId=r.raceId
    AND r.year=2013 AND r.name="British Grand Prix"
    AND ds.driverId=d.driverId
    ''',
    con=connection)

          surname code  points  position
0      Hülkenberg  HUL     6.0        15
1       Maldonado  MAL     0.0        16
2       Ricciardo  RIC    11.0        14
3   van der Garde  VDG     0.0        22
4             Pic  PIC     0.0        20
5         Bianchi  BIA     0.0        19
6       Gutiérrez  GUT     0.0        18
7          Vergne  VER    13.0        12
8           Sutil  SUT    23.0        11
9          Webber  WEB    87.0         5
10         Vettel  VET   132.0         1
11          Massa  MAS    57.0         7
12       Hamilton  HAM    89.0         4
13        Rosberg  ROS    82.0         6
14        Chilton  CHI     0.0        21
15         Bottas  BOT     0.0        17
16       di Resta  DIR    36.0         8
17      Räikkönen  RAI    98.0         3
18         Alonso  ALO   111.0         2
19          Pérez  PER    12.0        13
20       Grosjean  GRO    26.0         9
21         Button  BUT    25.0        10

In [6]:
# Sort by ds.position and limit to just the podium
pd.read_sql(
    '''
    SELECT d.surname, d.code, ds.points, ds.position
    FROM driverStandings ds
    INNER JOIN races r
    INNER JOIN drivers d
    WHERE ds.raceId=r.raceId
    AND r.year=2013 AND r.name="British Grand Prix"
    AND ds.driverId=d.driverId
    ORDER BY ds.position
    LIMIT 3
    ''',
    con=connection)

     surname code  points  position
0     Vettel  VET   132.0         1
1     Alonso  ALO   111.0         2
2  Räikkönen  RAI    98.0         3

In [7]:
# How many times has Alonso finished second?
pd.read_sql(
    '''
    SELECT COUNT(*) secondPlaceFinishes
    FROM results r
    INNER JOIN drivers d
    WHERE d.code="ALO" AND r.driverId=d.driverId AND r.position=2
    ''',
    con=connection
)

   secondPlaceFinishes
0                   37

In [8]:
# Who are the top 5 drivers with the greatest number of podium finishes, and how many?
pd.read_sql(
    '''
    SELECT d.code, d.surname, COUNT(*) podiumFinishes
    FROM results r
    JOIN drivers d
    WHERE r.driverId=d.driverId AND r.position>=1 AND r.position<=3
    GROUP BY d.surname, d.code
    ORDER BY podiumFinishes DESC
    LIMIT 5
    ''',
    con=connection
)

   code     surname  podiumFinishes
0   MSC  Schumacher             155
1   HAM    Hamilton             109
2  None       Prost             106
3   ALO      Alonso              97
4  None        Hill              94

**Note** Hill shouldn't be there, that is an aggregation over three drivers as we'll see below.

In [9]:
# Be aware of unique identifiers vs things that are not guaranteed unique
pd.read_sql(
    '''
    SELECT DISTINCT driverRef, surname
    FROM drivers
    WHERE surname="Hill"
    ''',
    con=connection
)

    driverRef surname
0  damon_hill    Hill
1        hill    Hill
2   phil_hill    Hill

In [10]:
# Revise our query to use the driverRef unique id rather than surname
pd.read_sql(
    '''
    SELECT d.code, d.driverRef, COUNT(*) podiumFinishes
    FROM results r
    INNER JOIN drivers d
    WHERE r.driverId=d.driverId AND r.position>=1 AND r.position<=3
    GROUP BY d.driverRef, d.code
    ORDER BY podiumFinishes DESC
    LIMIT 5
    ''',
    con=connection
)

   code           driverRef  podiumFinishes
0   MSC  michael_schumacher             155
1   HAM            hamilton             109
2  None               prost             106
3   ALO              alonso              97
4   VET              vettel              93

A good exercise would be to go through building queries for other [F1 Driver Records](https://en.wikipedia.org/wiki/List_of_Formula_One_driver_records)

## Nested SELECTs (sub-queries) and Temporary Tables

In [11]:
# Which drivers competed in the 2013 season?
pd.read_sql(
    '''
    SELECT DISTINCT ds.driverId
    FROM driverStandings ds
    INNER JOIN races r
    WHERE ds.raceId=r.raceId and r.year=2013
    ''',
    con=connection
)

    driverId
0          8
1          4
2         20
3         13
4          1
5         17
6         16
7        814
8         18
9        154
10       815
11       818
12       821
13       822
14       824
15       819
16       820
17       823
18       817
19         3
20       813
21       807
22         5

In [12]:
# Using the above query as a sub-query to pull complete information for those drivers.
pd.read_sql(
    '''
    SELECT * FROM drivers
    WHERE driverId IN
        (SELECT DISTINCT ds.driverId
         FROM driverStandings ds
         INNER JOIN races r
         WHERE ds.raceId=r.raceId AND r.year=2013)
    ''',
    con=connection)

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
0,1,hamilton,44.0,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,3,rosberg,6.0,ROS,Nico,Rosberg,1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg
2,4,alonso,14.0,ALO,Fernando,Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
3,5,kovalainen,NaN,KOV,Heikki,Kovalainen,1981-10-19,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen
4,8,raikkonen,7.0,RAI,Kimi,Räikkönen,1979-10-17,Finnish,http://en.wikipedia.org/wiki/Kimi_R%C3%A4ikk%C...
5,13,massa,19.0,MAS,Felipe,Massa,1981-04-25,Brazilian,http://en.wikipedia.org/wiki/Felipe_Massa
6,16,sutil,99.0,SUT,Adrian,Sutil,1983-01-11,German,http://en.wikipedia.org/wiki/Adrian_Sutil
7,17,webber,NaN,WEB,Mark,Webber,1976-08-27,Australian,http://en.wikipedia.org/wiki/Mark_Webber
8,18,button,22.0,BUT,Jenson,Button,1980-01-19,British,http://en.wikipedia.org/wiki/Jenson_Button
9,20,vettel,5.0,VET,Sebastian,Vettel,1987-07-03,German,http://en.wikipedia.org/wiki/Sebastian_Vettel
10,154,grosjean,8.0,GRO,Romain,Grosjean,1986-04-17,French,http://en.wikipedia.org/wiki/Romain_Grosjean
11,807,hulkenberg,27.0,HUL,Nico,Hülkenberg,1987-08-19,German,http://en.wikipedia.org/wiki/Nico_H%C3%BClkenberg
12,813,maldonado,13.0,MAL,Pastor,Maldonado,1985-03-09,Venezuelan,http://en.wikipedia.org/wiki/Pastor_Maldonado
13,814,resta,NaN,DIR,Paul,di Resta,1986-04-16,British,http://en.wikipedia.org/wiki/Paul_di_Resta
14,815,perez,11.0,PER,Sergio,Pérez,1990-01-26,Mexican,http://en.wikipedia.org/wiki/Sergio_P%C3%A9rez
15,817,ricciardo,3.0,RIC,Daniel,Ricciardo,1989-07-01,Australian,http://en.wikipedia.org/wiki/Daniel_Ricciardo
16,818,vergne,25.0,VER,Jean-Éric,Vergne,1990-04-25,French,http://en.wikipedia.org/wiki/Jean-%C3%89ric_Ve...
17,819,pic,NaN,PIC,Charles,Pic,1990-02-15,French,http://en.wikipedia.org/wiki/Charles_Pic
18,820,chilton,4.0,CHI,Max,Chilton,1991-04-21,British,http://en.wikipedia.org/wiki/Max_Chilton
19,821,gutierrez,21.0,GUT,Esteban,Gutiérrez,1991-08-05,Mexican,http://en.wikipedia.org/wiki/Esteban_Guti%C3%A...
20,822,bottas,77.0,BOT,Valtteri,Bottas,1989-08-28,Finnish,http://en.wikipedia.org/wiki/Valtteri_Bottas
21,823,garde,NaN,VDG,Giedo,van der Garde,1985-04-25,Dutch,http://en.wikipedia.org/wiki/Giedo_van_der_Garde
22,824,jules_bianchi,17.0,BIA,Jules,Bianchi,1989-08-03,French,http://en.wikipedia.org/wiki/Jules_Bianchi

In [13]:
# To support the reuse of a dataset, we can create a Temporary Table
# that only remains around while this session is open.
connection.execute(
    '''
    CREATE TEMPORARY TABLE drivers2013 (
        driverId INT(11) NOT NULL PRIMARY KEY AUTO_INCREMENT,
        driverRef VARCHAR(255) NOT NULL,
        number INT(11) NULL DEFAULT NULL,
        code VARCHAR(3) NULL DEFAULT NULL,
        forename VARCHAR(255) NOT NULL,
        surname VARCHAR(255) NOT NULL,
        dob date NULL DEFAULT NULL,
        nationality VARCHAR(255) NULL DEFAULT NULL,
        url VARCHAR(255) NOT NULL UNIQUE KEY
    )
    '''
)

In [14]:
# We can then populate it with data, our query above that gets all
# drivers who competed in 2013.
connection.execute(
    '''
    INSERT INTO drivers2013
        (SELECT * FROM drivers
         WHERE driverId IN
             (SELECT DISTINCT ds.driverId
              FROM driverStandings ds
              INNER JOIN races r
              WHERE ds.raceId=r.raceId AND r.year=2013))
    '''
)

In [15]:
# Then we can do queries agains that table as if it were any other real table.
# Here we get all drivers in that season born after 1990
pd.read_sql('SELECT * FROM drivers2013 WHERE dob>="1990-01-01"', con=connection)

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
0,815,perez,11.0,PER,Sergio,Pérez,1990-01-26,Mexican,http://en.wikipedia.org/wiki/Sergio_P%C3%A9rez
1,818,vergne,25.0,VER,Jean-Éric,Vergne,1990-04-25,French,http://en.wikipedia.org/wiki/Jean-%C3%89ric_Ve...
2,819,pic,NaN,PIC,Charles,Pic,1990-02-15,French,http://en.wikipedia.org/wiki/Charles_Pic
3,820,chilton,4.0,CHI,Max,Chilton,1991-04-21,British,http://en.wikipedia.org/wiki/Max_Chilton
4,821,gutierrez,21.0,GUT,Esteban,Gutiérrez,1991-08-05,Mexican,http://en.wikipedia.org/wiki/Esteban_Guti%C3%A...

In [16]:
connection.close()