In [1]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine('mysql://root:root@localhost:3306/f1db')

connection = engine.connect()

In [2]:
# Get the 2013 British Grand Prix race row
pd.read_sql('SELECT * FROM races WHERE year=2013 AND name="British Grand Prix"', con=connection)

,raceId,year,round,circuitId,name,date,time,url
0,887,2013,8,9,British Grand Prix,2013-06-30,12:00:00,http://en.wikipedia.org/wiki/2013_British_Gran...

In [3]:
# Get the driver standings from that particular race
pd.read_sql('SELECT * FROM driverStandings where raceId=887', con=connection)

    driverStandingsId  raceId  driverId  points  position positionText  wins
0               65734     887       807     6.0        15           15     0
1               65733     887       813     0.0        16           16     0
2               65731     887       817    11.0        14           14     0
3               65730     887       823     0.0        22           22     0
4               65728     887       819     0.0        20           20     0
5               65727     887       824     0.0        19           19     0
6               65725     887       821     0.0        18           18     0
7               65724     887       818    13.0        12           12     0
8               65719     887        16    23.0        11           11     0
9               65718     887        17    87.0         5            5     0
10              65715     887        20   132.0         1            1     3
11              65716     887        13    57.0         7            7     0
12              65717     887         1    89.0         4            4     0
13              65732     887         3    82.0         6            6     2
14              65729     887       820     0.0        21           21     0
15              65726     887       822     0.0        17           17     0
16              65720     887       814    36.0         8            8     0
17              65713     887         8    98.0         3            3     1
18              65714     887         4   111.0         2            2     2
19              65723     887       815    12.0        13           13     0
20              65722     887       154    26.0         9            9     0
21              65721     887        18    25.0        10           10     0

In [4]:
# A single query of the 2013 British Grand Prix standings, with select columns
pd.read_sql(
    '''
    SELECT ds.driverId, ds.points, ds.position
    FROM driverStandings ds
    INNER JOIN races r
    WHERE ds.raceId=r.raceId AND r.year=2013 AND r.name="British Grand Prix"
    ''',
    con=connection)

    driverId  points  position
0        807     6.0        15
1        813     0.0        16
2        817    11.0        14
3        823     0.0        22
4        819     0.0        20
5        824     0.0        19
6        821     0.0        18
7        818    13.0        12
8         16    23.0        11
9         17    87.0         5
10        20   132.0         1
11        13    57.0         7
12         1    89.0         4
13         3    82.0         6
14       820     0.0        21
15       822     0.0        17
16       814    36.0         8
17         8    98.0         3
18         4   111.0         2
19       815    12.0        13
20       154    26.0         9
21        18    25.0        10

In [5]:
# Add driver surname and their three letter code
pd.read_sql(
    '''
    SELECT d.surname, d.code, ds.points, ds.position
    FROM driverStandings ds
    INNER JOIN races r
    INNER JOIN drivers d
    WHERE ds.raceId=r.raceId
    AND r.year=2013 AND r.name="British Grand Prix"
    AND ds.driverId=d.driverId
    ''',
    con=connection)

          surname code  points  position
0      Hülkenberg  HUL     6.0        15
1       Maldonado  MAL     0.0        16
2       Ricciardo  RIC    11.0        14
3   van der Garde  VDG     0.0        22
4             Pic  PIC     0.0        20
5         Bianchi  BIA     0.0        19
6       Gutiérrez  GUT     0.0        18
7          Vergne  VER    13.0        12
8           Sutil  SUT    23.0        11
9          Webber  WEB    87.0         5
10         Vettel  VET   132.0         1
11          Massa  MAS    57.0         7
12       Hamilton  HAM    89.0         4
13        Rosberg  ROS    82.0         6
14        Chilton  CHI     0.0        21
15         Bottas  BOT     0.0        17
16       di Resta  DIR    36.0         8
17      Räikkönen  RAI    98.0         3
18         Alonso  ALO   111.0         2
19          Pérez  PER    12.0        13
20       Grosjean  GRO    26.0         9
21         Button  BUT    25.0        10

In [6]:
# Sort by ds.position and limit to just the podium
pd.read_sql(
    '''
    SELECT d.surname, d.code, ds.points, ds.position
    FROM driverStandings ds
    INNER JOIN races r
    INNER JOIN drivers d
    WHERE ds.raceId=r.raceId
    AND r.year=2013 AND r.name="British Grand Prix"
    AND ds.driverId=d.driverId
    ORDER BY ds.position
    LIMIT 3
    ''',
    con=connection)

     surname code  points  position
0     Vettel  VET   132.0         1
1     Alonso  ALO   111.0         2
2  Räikkönen  RAI    98.0         3

In [7]:
# How many times has Alonso finished second?
pd.read_sql(
    '''
    SELECT COUNT(*) secondPlaceFinishes
    FROM results r
    INNER JOIN drivers d
    WHERE d.code="ALO" AND r.driverId=d.driverId AND r.position=2
    ''',
    con=connection
)

   secondPlaceFinishes
0                   37

In [8]:
# Who are the top 5 drivers with the greatest number of podium finishes, and how many?
pd.read_sql(
    '''
    SELECT d.code, d.surname, COUNT(*) podiumFinishes
    FROM results r
    JOIN drivers d
    WHERE r.driverId=d.driverId AND r.position>=1 AND r.position<=3
    GROUP BY d.surname, d.code
    ORDER BY podiumFinishes DESC
    LIMIT 5
    ''',
    con=connection
)

   code     surname  podiumFinishes
0   MSC  Schumacher             155
1   HAM    Hamilton             109
2  None       Prost             106
3   ALO      Alonso              97
4  None        Hill              94

**Note** Hill shouldn't be there, that is an aggregation over three drivers as we'll see below.

In [9]:
# Be aware of unique identifiers vs things that are not guaranteed unique
pd.read_sql(
    '''
    SELECT DISTINCT driverRef, surname
    FROM drivers
    WHERE surname="Hill"
    ''',
    con=connection
)

    driverRef surname
0  damon_hill    Hill
1        hill    Hill
2   phil_hill    Hill

In [10]:
# Revise our query to use the driverRef unique id rather than surname
pd.read_sql(
    '''
    SELECT d.code, d.driverRef, COUNT(*) podiumFinishes
    FROM results r
    INNER JOIN drivers d
    WHERE r.driverId=d.driverId AND r.position>=1 AND r.position<=3
    GROUP BY d.driverRef, d.code
    ORDER BY podiumFinishes DESC
    LIMIT 5
    ''',
    con=connection
)

   code           driverRef  podiumFinishes
0   MSC  michael_schumacher             155
1   HAM            hamilton             109
2  None               prost             106
3   ALO              alonso              97
4   VET              vettel              93

A good exercise would be to go through building queries for other [F1 Driver Records](https://en.wikipedia.org/wiki/List_of_Formula_One_driver_records)

In [11]:
connection.close()