In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
os.getcwd()

'/Users/nackjicholson/repos/wranglingf1data'

In [3]:
# Making a list
['Hamilton', 'Rosberg', 'Vettel', 'Ricciardo', 'Alonso', 'Raikkonen', 'Button', 'Magnussen']

['Hamilton',
 'Rosberg',
 'Vettel',
 'Ricciardo',
 'Alonso',
 'Raikkonen',
 'Button',
 'Magnussen']

In [4]:
# Loading a Dataframe from an online csv
url = 'https://gist.githubusercontent.com/psychemedia/11187809/raw/31f8deab586322514b375ef581e83c909ab12d3c/winners2014start.csv'
winners = pd.read_csv(url)
winners

,carNum,pos,driverId,constructorId,grid,fastlaptime,fastlaprank,race
0,6,1,rosberg,mercedes,3,92.478,1,Australia
1,20,2,kevin_magnussen,mclaren,4,93.066,6,Australia
2,22,3,button,mclaren,10,92.917,5,Australia
3,44,1,hamilton,mercedes,1,103.066,1,Malaysia
4,6,2,rosberg,mercedes,3,103.960,2,Malaysia
5,1,3,vettel,red_bull,2,104.289,4,Malaysia
6,44,1,hamilton,mercedes,2,97.108,2,Bahrain
7,6,2,rosberg,mercedes,1,97.020,1,Bahrain
8,11,3,perez,force_india,4,99.320,7,Bahrain

In [5]:
# Column selection
# driverId as a pd.Series
winners['driverId']

0            rosberg
1    kevin_magnussen
2             button
3           hamilton
4            rosberg
5             vettel
6           hamilton
7            rosberg
8              perez
Name: driverId, dtype: object

In [6]:
# Select a new dataframe with only the driverId column
winners[['driverId']]

          driverId
0          rosberg
1  kevin_magnussen
2           button
3         hamilton
4          rosberg
5           vettel
6         hamilton
7          rosberg
8            perez

In [7]:
# Setting carNum to an enumerable Category type, instead of int64 type
winners['carNum'] = winners['carNum'].astype('category')
winners['carNum']

0     6
1    20
2    22
3    44
4     6
5     1
6    44
7     6
8    11
Name: carNum, dtype: category
Categories (6, int64): [1, 6, 11, 20, 22, 44]

[More on Pandas Categories](http://pandas.pydata.org/pandas-docs/stable/categorical.html)

In [8]:
winners['carNum'].cat.categories

Int64Index([1, 6, 11, 20, 22, 44], dtype='int64')

In [9]:
# Statistical information about the winners dataframe
winners.describe()

            pos       grid  fastlaptime  fastlaprank
count  9.000000   9.000000     9.000000     9.000000
mean   2.000000   3.333333    98.136000     3.222222
std    0.866025   2.738613     4.805507     2.333333
min    1.000000   1.000000    92.478000     1.000000
25%    1.000000   2.000000    93.066000     1.000000
50%    2.000000   3.000000    97.108000     2.000000
75%    3.000000   4.000000   103.066000     5.000000
max    3.000000  10.000000   104.289000     7.000000

In [10]:
winners.head(3)

,carNum,pos,driverId,constructorId,grid,fastlaptime,fastlaprank,race
0,6,1,rosberg,mercedes,3,92.478,1,Australia
1,20,2,kevin_magnussen,mclaren,4,93.066,6,Australia
2,22,3,button,mclaren,10,92.917,5,Australia

In [11]:
winners.columns

Index(['carNum', 'pos', 'driverId', 'constructorId', 'grid', 'fastlaptime',
       'fastlaprank', 'race'],
      dtype='object')

In [12]:
# Vectorized Computation with dataframes
tmp = pd.DataFrame({'origcol': list('abc')})
tmp

  origcol
0       a
1       b
2       c

In [13]:
tmp['newcol'] = 1
tmp

  origcol  newcol
0       a       1
1       b       1
2       c       1

In [14]:
tmpShape = tmp.shape
tmpShape

(3, 2)

In [15]:
numRows = tmpShape[0]
numRows

3

In [16]:
numRowsAlt = len(tmp.index)
numRowsAlt

3

In [17]:
# newcol2 is a row number column that starts at 1 instead of 0
tmp['newcol2'] = range(1, numRows + 1)
tmp

  origcol  newcol  newcol2
0       a       1        1
1       b       1        2
2       c       1        3

In [18]:
winners2 = winners.copy()

In [19]:
winners2['posdelta'], winners2['poslapdelta'] = [winners2['grid'] - winners2['pos'], winners2['fastlaprank'] - winners2['pos']]

In [20]:
winners2.head(3)

,carNum,pos,driverId,constructorId,grid,fastlaptime,fastlaprank,race,posdelta,poslapdelta
0,6,1,rosberg,mercedes,3,92.478,1,Australia,2,0
1,20,2,kevin_magnussen,mclaren,4,93.066,6,Australia,2,4
2,22,3,button,mclaren,10,92.917,5,Australia,7,2

In [21]:
# Filtering dataframes
winners[(winners['pos'] == 2) | (winners['pos'] == 3)]

,carNum,pos,driverId,constructorId,grid,fastlaptime,fastlaprank,race
1,20,2,kevin_magnussen,mclaren,4,93.066,6,Australia
2,22,3,button,mclaren,10,92.917,5,Australia
4,6,2,rosberg,mercedes,3,103.960,2,Malaysia
5,1,3,vettel,red_bull,2,104.289,4,Malaysia
7,6,2,rosberg,mercedes,1,97.020,1,Bahrain
8,11,3,perez,force_india,4,99.320,7,Bahrain

In [22]:
winners[winners['pos'] != 1]

,carNum,pos,driverId,constructorId,grid,fastlaptime,fastlaprank,race
1,20,2,kevin_magnussen,mclaren,4,93.066,6,Australia
2,22,3,button,mclaren,10,92.917,5,Australia
4,6,2,rosberg,mercedes,3,103.960,2,Malaysia
5,1,3,vettel,red_bull,2,104.289,4,Malaysia
7,6,2,rosberg,mercedes,1,97.020,1,Bahrain
8,11,3,perez,force_india,4,99.320,7,Bahrain

In [23]:
winners['pos'] != 1

0    False
1     True
2     True
3    False
4     True
5     True
6    False
7     True
8     True
Name: pos, dtype: bool

In [24]:
winners[['driverId','race','pos']]

          driverId       race  pos
0          rosberg  Australia    1
1  kevin_magnussen  Australia    2
2           button  Australia    3
3         hamilton   Malaysia    1
4          rosberg   Malaysia    2
5           vettel   Malaysia    3
6         hamilton    Bahrain    1
7          rosberg    Bahrain    2
8            perez    Bahrain    3

In [25]:
winners[winners['pos']==1][['driverId', 'race']]

   driverId       race
0   rosberg  Australia
3  hamilton   Malaysia
6  hamilton    Bahrain

In [26]:
winners.sort_values(by='carNum')

,carNum,pos,driverId,constructorId,grid,fastlaptime,fastlaprank,race
5,1,3,vettel,red_bull,2,104.289,4,Malaysia
0,6,1,rosberg,mercedes,3,92.478,1,Australia
4,6,2,rosberg,mercedes,3,103.960,2,Malaysia
7,6,2,rosberg,mercedes,1,97.020,1,Bahrain
8,11,3,perez,force_india,4,99.320,7,Bahrain
1,20,2,kevin_magnussen,mclaren,4,93.066,6,Australia
2,22,3,button,mclaren,10,92.917,5,Australia
3,44,1,hamilton,mercedes,1,103.066,1,Malaysia
6,44,1,hamilton,mercedes,2,97.108,2,Bahrain

In [27]:
sub1 = winners[['driverId', 'pos']]
sub1

          driverId  pos
0          rosberg    1
1  kevin_magnussen    2
2           button    3
3         hamilton    1
4          rosberg    2
5           vettel    3
6         hamilton    1
7          rosberg    2
8            perez    3

In [28]:
sub2 = winners[['driverId', 'grid']]
sub2

          driverId  grid
0          rosberg     3
1  kevin_magnussen     4
2           button    10
3         hamilton     1
4          rosberg     3
5           vettel     2
6         hamilton     2
7          rosberg     1
8            perez     4

In [29]:
sub_df = pd.merge(sub1, sub2, on='driverId')\
           .sort_values(by='driverId')\
           .reset_index(drop=True)
sub_df.head()

   driverId  pos  grid
0    button    3    10
1  hamilton    1     2
2  hamilton    1     1
3  hamilton    1     2
4  hamilton    1     1

In [30]:
def colify(datalist, cols):
    numCols = len(cols)
    numRows = len(datalist) / numCols
    data = np.array(datalist).reshape((int(numRows), int(numCols)))
    return pd.DataFrame(data, columns=cols)

In [31]:
#Example:
#An ordered list of drivers by name, code and manufacturer
ll = ['hamilton','HAM','Mercedes','rosberg','ROS','Mercedes']
#Now let's make a table, specifying the column names we want to apply
colify(ll, ['Name','TLID','Manufacturer'])

       Name TLID Manufacturer
0  hamilton  HAM     Mercedes
1   rosberg  ROS     Mercedes

In [32]:
# Making a "wide" view or race and position aka a pivot table
piv = winners.pivot(columns='race', values='pos')
piv['driverId'] = winners['driverId']
piv

race  Australia  Bahrain  Malaysia         driverId
0           1.0      NaN       NaN          rosberg
1           2.0      NaN       NaN  kevin_magnussen
2           3.0      NaN       NaN           button
3           NaN      NaN       1.0         hamilton
4           NaN      NaN       2.0          rosberg
5           NaN      NaN       3.0           vettel
6           NaN      1.0       NaN         hamilton
7           NaN      2.0       NaN          rosberg
8           NaN      3.0       NaN            perez

In [33]:
# Melt Transform
pd.melt(piv, id_vars='driverId', value_name='pos').head(3)

          driverId       race  pos
0          rosberg  Australia  1.0
1  kevin_magnussen  Australia  2.0
2           button  Australia  3.0

In [34]:
grouped = winners.groupby('constructorId')
pos_group = grouped['pos']

winners['meanTeamPos'] = pos_group.transform(np.mean)
winners['meanTeamPosDelta'] = pos_group.transform(lambda p: p - np.mean(p))

winners[['carNum', 'constructorId', 'pos', 'meanTeamPos', 'meanTeamPosDelta']]

  carNum constructorId  pos  meanTeamPos  meanTeamPosDelta
0      6      mercedes    1          1.4              -0.4
1     20       mclaren    2          2.5              -0.5
2     22       mclaren    3          2.5               0.5
3     44      mercedes    1          1.4              -0.4
4      6      mercedes    2          1.4               0.6
5      1      red_bull    3          3.0               0.0
6     44      mercedes    1          1.4              -0.4
7      6      mercedes    2          1.4               0.6
8     11   force_india    3          3.0               0.0